

/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
  margin:0;
  padding:0;
}
html,body {
  margin:0;
  padding:0;
  height:100%;
  width:100%;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}
fieldset,img { 
  border:0;
}
input{
  border:1px solid #b0b0b0;
  padding:3px 5px 4px;
  color:#979797;
  width:190px;
}
address,caption,cite,code,dfn,th,var {
  font-style:normal;
  font-weight:normal;
}
ol,ul {
  list-style:none;
}
caption,th {
  text-align:left;
}
q:before,q:after {
  content:'';
}
abbr,acronym { border:0;
}

/* End Css Reset */

.main {
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-container {
  margin-top: 30px;
  width: 600px;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 120px) ;
  grid-template-rows: repeat(3, 120px) ;
  gap: 10px;
}

.block {
  width:120px;
  height: 120px;
  background-color: rgba(137, 43, 226, 0.555);
  font-size: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
  user-select: none;
}

.game-info {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-top: 20px;
}

#result{
  margin-top:20px;
}